.cards-container { /*outside of the cards*/
  padding: 4rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 4rem;
  background-color: #fe6296;
}

.card {
  background: hwb(0 100% 0%);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.card:hover { 
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.12);
}

.card img {
  width: 100%;
  height: 500px;
  object-fit:cover;
}

.card h3 {
  padding: 1rem;
  color: #e91e63;
  font-weight: 600;
  font-size: 1.2rem;
}
