.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  background-color: #111;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  height: 42px;
}

.navbar h2 {
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  
}

.navbar ul {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #f3eaea;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #e91e63;
}
